@{

}

<h2>@ViewBag.Title</h2>
<div>


    <div class="jumbotron">
    <h5>@Resources.Resource.Pack</h5>
    <h6>@Resources.Resource.Pack</h6>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

</div>

@section scripts{
    
}