@{

}

<h2>@ViewBag.Title</h2>
<div>
    <div class="jumbotron">
    <h3>@Resources.Resource.Pack</h3>
    <h5>@Resources.Resource.PackDescription</h5>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">@Resources.Resource.PackCreate</a></p>
</div>

</div>

@section scripts{
    
}