@{

}

<h2>@ViewBag.Title</h2>
<div>
    <div class="jumbotron">
    <h4>@Resources.Resource.Pack</h4>
    <h6>@Resources.Resource.PackDescription</h6>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">@Resources.Resource.PackCreate</a></p>
</div>

</div>

@section scripts{
    
}