@using FastBookCreator.Core
@using (Html.BeginForm("SetCulture", "Shared", FormMethod.Post, new { id = "CultureChangePostForm" }))
{
    <a  id="">
        @Html.DropDownList("culture", HelperExtensions.LanguageSelectListItems(), new { @class = "selectpicker show-tick", id = "", data_width = "110px" })
    </a>
}