@model IEnumerable<FastBookCreator.Models.Foo>
@using GridMvc.Html

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/Gridmvc")

</head>
<body>


    <article>
        <div id="holder">
        </div>
        <p id="upload" class="hidden"><label>Drag &amp; drop not supported, but you can still upload via this input field:<br><input type="file"></label></p>
        <p id="filereader">File API &amp; FileReader API not supported</p>
        <p id="formdata">XHR2's FormData is not supported</p>
        <p id="progress">XHR2's upload progress isn't supported</p>
        <p>Upload progress: <progress id="uploadprogress" max="100" value="0">0</progress></p>

    </article>

<div class="col-md-6">
        <input type="text" class="form-control" placeholder=@Resources.Resource.PackName>
    </div>
    <div class="col-md-6">
        <input type="text" class="form-control" placeholder=@Resources.Resource.Description>
    </div>
    @*<div style="padding: 100px;">
            @Html.Grid(Model).Named("dataGrid").AutoGenerateColumns()
        </div>*@

    <br />
</body>

@Scripts.Render("~/bundles/Gridmvc")

</html>


@section scripts
{
    <script>
        

    </script>
}
