@model List<FastBookCreator.Models.Pack>
@using GridMvc.Html

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Resource.PackCreate</title>
@*    @Scripts.Render("~/bundles/ckeditor")*@
</head>
<body>




@*  <textarea cols="80" id="editor1" name="editor1" rows="10">
        &lt;p&gt;This is some &lt;strong&gt;sample text&lt;/strong&gt;. You are using &lt;a href="http://ckeditor.com/"&gt;CKEditor&lt;/a&gt;.&lt;/p&gt;
    </textarea>

<script>
    CKEDITOR.replace('editor1', {
          uiColor: '#AAEAAA'
    });

    CKEDITOR.editorConfig = function (config) {
        //Define changes to default configuration here. For example:
        config.language = 'fa';
        config.uiColor = '#11DC11';
    };
</script>*@

</body>
 

</html>


@section scripts
{
    <script>
        

    </script>
}
